In [33]:
import pandas as pd
import matplotlib as plt

from itertools import combinations
from collections import Counter

In [34]:
xls = pd.ExcelFile('./Coupon_Data_original.xlsx')
coupon_data = pd.read_excel(xls, 'POS Data')
product_names = pd.read_excel(xls, 'Product UPC Key')

In [35]:
product_data = pd.merge(coupon_data,product_names,on='Product UPC Number')

In [36]:
product_groups = product_data[product_data['Transaction Number'].duplicated(keep=False)]

In [37]:
product_groups.head()

,Timestamp,Transaction Number,Product UPC Number,Price,Retailer,Product Name
0,2018-03-02 08:15:50.000,123098,111100001234,1.8,Fast Mart,Coke 20 oz
1,2018-03-02 08:27:03.920,123100,111100001234,1.8,Fast Mart,Coke 20 oz
2,2018-03-02 09:10:24.560,123106,111100001234,1.8,Fast Mart,Coke 20 oz
3,2018-03-02 10:43:26.000,123116,111100001234,1.8,Fast Mart,Coke 20 oz
5,2018-03-02 12:49:17.360,123134,111100001234,1.8,Fast Mart,Coke 20 oz

### Are there products that are more likely to be purchased together? If so, can you quantify this?

In [38]:
product_groups['Grouped'] = product_groups.groupby('Transaction Number')['Product Name'].transform(lambda x: ','.join(x))

C:\Users\Madhulika\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
product_groups = product_groups[['Transaction Number', 'Grouped']].drop_duplicates()

In [40]:
# Count the number of times product groups are bought.

count = Counter()

for row in product_groups['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

# Get 10 most commonly purchased product combinations.
count.most_common(10)

[(('Bud Light 24 Pack', 'Hersheys Candy'), 80),
 (('Slim Jim', 'Bud Light 24 Pack'), 78),
 (('Coke 12 Pack', 'Bud Light 24 Pack'), 67),
 (('Lays Chips 12 oz.', 'Bud Light 24 Pack'), 66),
 (('Doritos 12 oz.', 'Bud Light 24 Pack'), 61),
 (('Doritos 12 oz.', 'Lays Chips 12 oz.'), 61),
 (('Coke 12 Pack', 'Slim Jim'), 59),
 (('Slim Jim', 'Hersheys Candy'), 57),
 (('Coke 12 Pack', 'Lays Chips 12 oz.'), 55),
 (('Coke 12 Pack', 'Hersheys Candy'), 54)]